# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP .NET Core service.

version: '3.4'

services:
  orderservice:
    image: orderservice
    build:
      context: .
      dockerfile: OrderService/Dockerfile
    ports:
      - "4500:80"
    networks: 
      - demo       
  inventoryservice:
    image: inventoryservice
    build:
      context: .
      dockerfile: InventoryService/Dockerfile
    ports:
      - "4501:80"
    networks: 
      - demo       
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "14268:14268"
      - "9411:9411"
    networks: 
      - demo        
networks: 
  demo: